<shared-button-home></shared-button-home>

<!--

    (keyup.enter)="searchProductEnterEvent()" 
(keydown)="searchProductEnterArrowDown($event)"
-->
<form >
    <input type="text" placeholder="barcode a agregar"  name="barcode" #inputBarcode>
    <input type="text" placeholder="nombre producto" name="nombre" #inputProductName>
    <input type="number" placeholder="precio producto"  name="precio" #inputProductCost>
    <select  [(ngModel)]="selectedValue" name="categoria">
      <option *ngFor="let item of categories" [value]="item">{{ item}}</option>
    </select>
    <button type="submit" (click)="saveNewProduct()">Editar</button>
  </form>
  
  
<div>
    <input type="button" value="Edit">
    <input type="button" value="Delete">
</div>


