<div class="row mt-4 container-fluid  ">

   <venta-productos-navbar></venta-productos-navbar>

</div>

<div class="row mt-4 container-fluid">
    <div class="col-6">
        <venta-productos-ventaTemporal 
        [totalSell]="totalSell" 
        [cambio]="cambio"
        (receivedAmountEE)="changeSale($event)" 
        (resetSaleEE)="resetSale()">
    </venta-productos-ventaTemporal>
    </div>
    <div class="col-6">

        <venta-productos-searchbar (searchProductEE)="searchProduct($event)"></venta-productos-searchbar>
        <venta-productos-productlist 
        [cantidadProducts]="cantidadProducts"
        (deleteProductEE)="deleteProductList($event)"
        ></venta-productos-productlist>
    </div>

</div>