<div class="row mt-4 container-fluid  ">

   <div class="col">
    <venta-productos-navbar> </venta-productos-navbar>
   </div>

</div>


<div class="row mt-4 container-fluid" >

    <div class="col-6">

     <venta-productos-ventaTemporal [totalSell]="totalSell" (dineroIngresado)="getcambio($event)" [cambio]="cambio" (resetSaleEventEmitter)="resetSale()"></venta-productos-ventaTemporal>
    </div>

    <div class="col-6">

        <venta-productos-searchbar (searchProductEvent)="searchProduct($event)" ></venta-productos-searchbar>
        <venta-productos-productlist [products]="products" ></venta-productos-productlist>
    </div>

</div>

<main class="container">
  



</main>

