<div>
    <table class="table">
    
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Barcode</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Borrar</th>
               

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of cantidadProducts;      let i = index;"
          >
          <td> {{product.quantity}} </td>
                <td>{{product.barcode}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.price}}</td>
            <td (click)="deleteProduct(i)"  class=" p-1">
                <img src="/assets/delete-trash-svgrepo-com.svg" alt=""  class="mt-0" >
            </td>       
            </tr>
        </tbody>
    </table>
</div>